# First lecture
# Python Course / AI CLUB / Syrian Computer Society

### primitive data types

In [5]:
print(type(0))
print(type(0.6))
print(type(-4))
print(type(True))
print(type(False))
print(type('hello'))
print(type('b'))
print(type("python"))

<class 'int'>
<class 'float'>
<class 'int'>
<class 'bool'>
<class 'bool'>
<class 'str'>
<class 'str'>
<class 'str'>

### type casting

In [1]:
print(float(5))
print(int(2.6))
print(bool(0))
print(str(6))

5.0
2
False
6

### expressions

In [6]:
print(12+90+9)
print(5*5)
print(20+3*6)
print(3*6+20)
print(11/2)
print(11//2)

111
25
38
38
5.5
5

### variables

In [7]:
x=160
y=x/6
x=x/6
print(y,x)

26.666666666666668 26.666666666666668

### string operations

In [5]:
name="julia stone"
print(name[0])
print(name[2])
print(name[-1])
print(name[-2])
print(name[0:3])
print(name[3:6])
print(name[::3])
print(len(name))

j
l
e
n
jul
ia
jisn
11

### combining strings and strings methods

In [12]:
name="Reema"
print(name+" is a singer")
print(name.upper())
sentence="reema is a singer"
print(sentence.replace('singer','actor'))
print(name.find('em'))

Reema is a singer
REEMA
reema is a actor
2

#### Tuples

In [7]:
my_tuple=(1,0,'my first lecture',True)
print(my_tuple)
print('--------------------------------------')
tuple1=('blue','green','red')
print(tuple1+('white','yellow'))
print('--------------------------------------')
print(tuple1[0:2])
print(len(tuple1))
print('--------------------------------------')
tuple3=(2,'hi',(2,'13'))#nested tuple
print(tuple3)
print(tuple3[0])
print(tuple3[1])
print(tuple3[2])
print(tuple3[2][1])

(1, 0, 'my first lecture', True)
--------------------------------------
('blue', 'green', 'red', 'white', 'yellow')
--------------------------------------
('blue', 'green')
3
--------------------------------------
(2, 'hi', (2, '13'))
2
hi
(2, '13')
13

In [4]:
x=int(input())
y=int(input())
print(x+y)

1
2
3