# second lecture

# Python Course / AI CLUB / Syrian Computer Society

### Lists

In [12]:
my_list=['hello python',0.9,('A',1),[1,0,2]]
print(my_list)
print(my_list[0])
print(my_list[2][1])
print('---------------------------------------------------')
l1=['red','blue']
l2=['green']
print(l1+l2)
l1.extend(['white'])
print(l1)
l1.append(['white'])
print(l1)
print(my_list[1:3])

['hello python', 0.9, ('A', 1), [1, 0, 2]]
hello python
1
---------------------------------------------------
['red', 'blue', 'green']
['red', 'blue', 'white']
['red', 'blue', 'white', ['white']]
[0.9, ('A', 1)]

In [14]:
A=['hello','salut','morning']
A[2]='hi'
print(A)

['hello', 'salut', 'hi']

In [15]:
del(A[0])
print(A)

['salut', 'hi']

In [19]:
#CONVERT STRING TO LIST
B='learn python for machine learning'
print(B.split())
print(B.split(","))

['learn', 'python', 'for', 'machine', 'learning']
['learn python for machine learning']

In [22]:
#ALIASING VS CLONING
C=[1,2,3]
D=C
E=C[:]
print(C)
print(D)
print(E)
C[0]=-1
print(C)
print(D)
print(E)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
[-1, 2, 3]
[-1, 2, 3]
[1, 2, 3]

### Dictionaries

In [24]:
D1={'key1':'val1','key2':'val2','key3':'val3'}
print(D1)

{'key1': 'val1', 'key2': 'val2', 'key3': 'val3'}

In [14]:
D2={'A':1,'B':2}
D2['A']=3
del(D2['B'])
print(D2)

{'A': 3}

In [15]:
D3={'green':'vert','red':'noir'}
print(D3.keys())
print(D3.values())

dict_keys(['green', 'red'])
dict_values(['vert', 'noir'])

### sets

### sets only have unique elements

In [17]:
set1={'a','b','c','d'}
print(set1)

{'a', 'b', 'c', 'd'}

In [1]:
#convert list to set
list1=['hello','world']
set1=set(list1)
print(list1)
print(set1)
print('--------------------------------------------------')
set1.add('!')
print(set1)
print('---------------------------------------------------')
set1.remove('!')
print(set1)

['hello', 'world']
{'world', 'hello'}
--------------------------------------------------
{'world', 'hello', '!'}
---------------------------------------------------
{'world', 'hello'}

In [24]:
set3={'a',1,2,1}
print(set3)
2 in set3

{'a', 1, 2}

True

In [27]:
a={1,2,3}
b={1,2,3,4}
c={1,2,5}
print(b & c)
print(b.union(c))
print(a.issubset(b))

{1, 2}
{1, 2, 3, 4, 5}
True

In [1]:
class clothes():
    def __init__(self,i,size,color,price)
    self.i=i
    self.size=size
    self.color=color
    self.price=price
    B1=clothes('A','MEDIUM','WHITE',15000)
    print(B1.price)

SyntaxError: invalid syntax (260454802.py, line 2)

In [3]:
class clothes():
    def __init__(self,i,size,color,price):
    self.i=i
    self.size=size
    self.color=color
    self.price=price
    B1=clothes('A','MEDIUM','WHITE',15000)
    print(B1.price)

IndentationError: expected an indented block (518324188.py, line 3)

In [7]:
class clothes():
    def __init__(self,i,size,color,price):
        self.i=i
        self.size=size
        self.color=color
        self.price=price
    
    
B1=clothes('A','MEDIUM','WHITE',15000)
print(B1.price)

15000